@{
    ViewBag.Title = "CheckLogin";
    Layout = "~/Views/Shared/_layout_display.cshtml";
}


<link href="~/Content/css/dangnhap.css" rel="stylesheet" />
<style>
    label{
        color:black;
        background-color:unset;
        padding:5px 0;
        font-weight:700

    }
    h3{
        font-weight:bold
    }
</style>
<div class="row form-dn" style="width:100%;margin:0">
    <div class="primari-box registered-account dn">
        @{
           
            HttpCookie Phone_UserCookie = Request.Cookies["phone_user"];
            HttpCookie Name_UserCookie = Request.Cookies["name_user"];
            HttpCookie Address_UserCookie = Request.Cookies["address_user"];
            string phone = "";
            string name = "";
            string diachi = "";
            if (Phone_UserCookie != null && Name_UserCookie != null && Address_UserCookie!= null)
            {
                phone = Phone_UserCookie.Value;
                name = Name_UserCookie.Value;
                diachi = Address_UserCookie.Value;
            } 
        }
        @if (Session["User1"] == null)
        {
            
            <form class="new-account-box" id="accountLogin" method="post" action="#">
                <h3 class="box-subheading">NHẬP THÔNG TIN LIÊN HỆ</h3>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-content">
                        <div class="form-group primary-form-group">
                            <label for="loginemail">Số điện thoại</label>
                            @Html.TextBox("SODT",phone, new { @class = "form-control input-feild", type = "tel", pattern = "[0-9]{10}", maxlength = "10" })

                        </div>
                        <div class="form-group primary-form-group">
                            <label for="password">Họ & tên</label>
                            @Html.TextBox("HOTEN", name, new { @class = "form-control input-feild" })

                        </div>
                        <div class="form-group primary-form-group">
                            <label for="loginemail">Địa chỉ</label>
                            @Html.TextBox("DIACHI", diachi, new { @class = "form-control input-feild" })

                        </div>
                        <div class="forget-password">
                        </div>
                        <div>
                            <h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
                        </div>
                        <div class="submit-button">
                            <input type="submit" value="Tiếp tục" id="signinCreate" class="btn main-btn" />
                        </div>
                    </div>
                }
            </form>
        }
        else
        {
            <form class="new-account-box" id="accountLogin" method="post" action="#">
                <h3 class="box-subheading">NHẬP THÔNG TIN CỦA KHÁCH HÀNG</h3>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-content">
                        <div class="form-group primary-form-group">
                            <label for="loginemail">Số điện thoại</label>
                            @Html.TextBox("SODT", null, new { @class = "form-control input-feild check_cookie", type = "tel", pattern = "[0-9]{10}", maxlength = "10" })
                          
                        </div>
                        <div class="form-group primary-form-group">
                            <label for="password">Họ & tên</label>
                            @Html.TextBox("HOTEN", null, new { @class = "form-control input-feild" })
                          
                        </div>
                        <div class="form-group primary-form-group">
                            <label for="password">Địa chỉ</label>
                            @Html.TextBox("DIACHI", null, new { @class = "form-control input-feild" })
                            
                        </div>
                        <div class="forget-password">
                        </div>
                        <div>
                            <h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
                        </div>
                        <div class="submit-button">
                            <input type="submit" value="Tiếp tục" id="signinCreate" class="btn main-btn" />
                        </div>
                    </div>
                }
            </form>
        }
        @if (ViewBag.Mess != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                        
                        var sdt = "@Html.Raw(ViewBag.sdt)";
                        var hoten = "@Html.Raw(ViewBag.hoten)";
                        var diachi = "@Html.Raw(ViewBag.diachi)";
                          if(sdt.length > 0)
                          {
                              $("#SODT").text(sdt);
                              $("#SODT").val(sdt);
                             
                          }
                          if (hoten.length > 0) {
                              $("#HOTEN").text(hoten);
                              $("#HOTEN").val(hoten);
                          }
                          if (diachi.length > 0) {
                              $("#DIACHI").text(diachi);
                              $("#DIACHI").val(diachi);
                          }
                        
                            alert("@Html.Raw(ViewBag.Mess)");

                        };
            </script>
        }



    </div>
</div>

<div class="back-page">
    <button onclick="goCart()" class="back-button"><i class="fa fa-arrow-left"></i> </button>   <span style="margin-left:5px">Nhập thông tin</span>
</div>

