@model IEnumerable<DA_Web.ViewModel.NhanVien>
@{
    ViewBag.Title = "ChietKhauNgay";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}
<link href="~/Content/css/yearpicker.css" rel="stylesheet" />
<link href="~/Content/admin/css/ck_layout.css" rel="stylesheet" />
<link href="~/Content/w3_modal.css" rel="stylesheet" />
<style>
    .open-dh {
        cursor: pointer;
        text-decoration: underline !important;
        color: blue!important;
    }
</style>
<script>
   
</script>

<script>
    $(document).ready(function () {
        $("#yearPicker").yearpicker({
            year: 2017,
            startYear: 2012,
            endYear: 2030
        });
        offText();
        $('#dropdownlist_takenhanvien').prop("disabled", true);
        $('input[type=radio][name=search_CK]').change(function () {
                if (this.value == 'day') {
                    offText();
                    $("#dayPicker").prop("disabled", false);
                    
                }
                else if (this.value == 'month') {
                    offText();
                    $("#monthPicker").prop("disabled", false);
                }else
                {
                    offText();
                    $("#yearPicker").prop("disabled", false);
                }
                $("#hd_date").text(this.value);
        });
        $('#rd_nv').change(function () {
            var check = $(this).is(':checked');
            if (check) {
                $('#dropdownlist_takenhanvien').prop("disabled", false);
            } else {
                $('#dropdownlist_takenhanvien').prop("disabled", true);
            }
        });
        
    });

   

    function offText()
    {
        $("#dayPicker").prop("disabled", true);
        $("#monthPicker").prop("disabled", true);
        $("#yearPicker").prop("disabled", true);
    }

    function showCT(obj)
    {
        var idnv = obj;
        var value_date = $("#hd_date").text();
        var form = "no_date";
        var d = "";
        if (value_date == 'day') {
            form = "day";
            d = $("#dayPicker").val();
        }
        else if (value_date == 'month') {
            form = "month";
            d = $("#monthPicker").val();
        } else if(value_date == 'year') {
            form = "year";
            d = $("#yearPicker").val();

        }   
        $.ajax({
            url: "ChiTietSoDon_CTV_Fail",
            data: { date: d, idnv: idnv, form: form },
            datatype: "json",
            type: "POST",
            success: function (response) {
                if (response.status != null) {
                    $(".table-ct").find("tr:gt(0)").remove();
                        
                        var contentTable = "";
                        var count = 1;
                        var bcount="";
                        var background = "";
                        $.each(response.status, function () {
                            //var date = this.NgayDatHang;
                            //var nowDate = new Date(parseInt(date.substr(6)));
                            //var result = nowDate.format("dd/mm/yyyy");
                            var hoten_ctv = "";
                            var hoten_kh = "";
                            var lydo = "";
                            var id_nv = "";
                            
                            if(this.HoTen != null)
                            {
                                hoten_ctv = this.HoTen;
                               
                            }
                            if(this.LyDo != null)
                            {
                                lydo = this.LyDo;
                            }
                            if (this.TenKH != null) {
                                if(this.HoTen == null)
                                    hoten_kh = this.TenKH;
                            }
                            if(this.ID_NHANVIEN != null)
                            {
                                id_nv = this.ID_NHANVIEN;
                            }
                            var empty ="";
                            if (bcount != this.ID_DONHANG)
                            {
                                if(count%2 != 0)
                                {
                                    background = "background-color:beige";
                                }else
                                {
                                    background = "";
                                }
                                contentTable += '<tr style="'+background+'" id=row_' + this.ID_DONHANG + '><td>' + count + '</td><td>' + this.TenSanPham + '</td><td>' + this.TuyChon + '</td> <td>' + this.SoLuong + '</td><td>' + formatNumber(this.DonGia, '.', ',') + ' VNĐ</td><td>' + formatNumber(this.TongTien, '.', ',') + ' VNĐ</td><td>' + hoten_ctv + '</td><td>'+id_nv+'</td><td>' + hoten_kh + '</td><td>'+lydo+'</td> </tr>';

                            } else
                            {
                                
                                contentTable += '<tr style="'+background+'" id=row_' + this.ID_DONHANG + '><td>' + "" + '</td><td>' + this.TenSanPham + '</td><td>' + this.TuyChon + '</td> <td>' + this.SoLuong + '</td><td>' + formatNumber(this.DonGia, '.', ',') + ' VNĐ</td><td>' + formatNumber(this.TongTien, '.', ',') + ' VNĐ</td><td>' + hoten_ctv + '</td><td>'+id_nv+'</td><td>' + hoten_kh + '</td><td>'+lydo+'</td> </tr>';
                                count--;
                                if(count%2 != 0)
                                {
                                    background = "background-color:beige";
                                }else
                                {
                                    background = "";
                                }
                                
                            }
                            bcount = this.ID_DONHANG;
                            count++;
                        });
                        $('.table_chitietsodon').append(contentTable);
                   
                }
            }
        });
        $('#myBtn').click();
    }


   


    function show_ck() {
        var value_date = $("#hd_date").text();
        var check = $('#rd_nv').is(':checked');
        if (check)
        {
            if (value_date.length > 0) {
                if (value_date == 'day') {
                    Selected_Day(true);
               

                }
                else if (value_date == 'month') {
                    Selected_Month(true);
                } else {
                    Selected_Year(true);
               
                }
            } else {
                alert("Vui lòng chọn thời gian");
            }
        } else
        {
            if (value_date.length > 0) {
                if (value_date == 'day') {
                    Selected_Day(false);


                }
                else if (value_date == 'month') {
                    Selected_Month(false);
                } else {
                    Selected_Year(false);

                }
            } else {
                alert("Vui lòng chọn thời gian");
            }
        }
        function Selected_Year(check) {
            var d = $("#yearPicker").val();
            var idnv = $("#dropdownlist_takenhanvien").val();
            if (!check)
                idnv = 0;
            $.ajax({
                url: "ChietKhauNgay_select_Year_CTV_Fail",
                data: { date: d, idnv: idnv },
                datatype: "json",
                type: "POST",
                success: function (response) {
                    if (response.status != null) {
                        $("#dataTable").find("tr:gt(0)").remove();
                        if (response.count > 0) {
                            var contentTable = "";
                            var count = 1;
                            $.each(response.status, function () {
                                var tongdoanhthu = 0;
                                
                                if (this.TongDoanhThu != null)
                                {
                                    tongdoanhthu = formatNumber(this.TongDoanhThu, '.', ',');
                                    
                                }
                                    
                                contentTable += '<tr id=row_' + this.ID_NHANVIEN + '><td>' + count + '</td><td>'+this.ID_NHANVIEN+'</td><td>' + this.HoTen + '</td> <td><a class="open-dh" onclick="showCT(' + this.ID_NHANVIEN + ')">' + this.TongSoDon + '</a></td> <td>' + tongdoanhthu + ' VNĐ </td><td>'+chietkhau+' VNĐ</td> </tr>';
                                count ++;
                            });
                            $('.table_change').append(contentTable);
                        } else {
                            var contentTable = "<tr><td colspan='5' align='center'>Không có dữ liệu phù hợp</td></tr>";
                            $('.table_change').append(contentTable);
                            alert('Không có dữ liệu phù hợp');
                        }
                    }
                }
            });

           

        }



        function Selected_Month(check) {
            var d = $("#monthPicker").val();
            var idnv = $("#dropdownlist_takenhanvien").val();
            if (!check)
                idnv = 0;
            $.ajax({
                url: "ChietKhauNgay_select_Month_CTV_Fail",
                data: { date: d, idnv: idnv },
                datatype: "json",
                type: "POST",
                success: function (response) {
                    if (response.status != null) {
                        $("#dataTable").find("tr:gt(0)").remove();
                        
                        if (response.count >0)
                        {     
                            var contentTable = "";
                            var count = 1;
                            $.each(response.status, function () {
                                var tongdoanhthu = 0;
                                
                                if (this.TongDoanhThu != null) {
                                    tongdoanhthu = formatNumber(this.TongDoanhThu, '.', ',');
                                   
                                }

                                contentTable += '<tr id=row_' + this.ID_NHANVIEN + '><td>' + count + '</td><td>'+this.ID_NHANVIEN+'</td><td>' + this.HoTen + '</td> <td><a class="open-dh" onclick="showCT(' + this.ID_NHANVIEN + ')">' + this.TongSoDon + '</a></td> <td>' + tongdoanhthu + ' VNĐ </td><td>'+chietkhau+' VNĐ</td> </tr>';
                                count++;
                            });
                            $('.table_change').append(contentTable);
                        }else
                        {
                            var contentTable = "<tr><td colspan='5' align='center'>Không có dữ liệu phù hợp</td></tr>";
                            $('.table_change').append(contentTable);
                            alert('Không có dữ liệu phù hợp');
                        }
                    } 
                }
            });

        }



        function Selected_Day(check) {
            var d = $("#dayPicker").val();
            var idnv = $("#dropdownlist_takenhanvien").val();
            if (!check)
                idnv = 0;
            $.ajax({
                url: "ChietKhauNgay_select_CTV_Fail",
                data: { date: d, idnv: idnv },
                datatype: "json",
                type: "POST",
                success: function (response) {
                    if (response.status != null) {
                        $("#dataTable").find("tr:gt(0)").remove();
                        if (response.count > 0) {
                            var contentTable = "";
                            var count = 1;
                            $.each(response.status, function () {
                                var tongdoanhthu = 0;
                                
                                if (this.TongDoanhThu != null) {
                                    tongdoanhthu = formatNumber(this.TongDoanhThu, '.', ',');
                                   
                                }

                                contentTable += '<tr id=row_' + this.ID_NHANVIEN + '><td>' + count + '</td><td>'+this.ID_NHANVIEN+'</td><td>' + this.HoTen + '</td> <td><a class="open-dh" onclick="showCT(' + this.ID_NHANVIEN + ')">' + this.TongSoDon + '</a></td> <td>' + tongdoanhthu + ' VNĐ </td><td>'+chietkhau+' VNĐ</td> </tr>';
                                count++;
                            });

                            $('.table_change').append(contentTable);
                        } else {
                            var contentTable = "<tr><td colspan='5' align='center'>Không có dữ liệu phù hợp</td></tr>";
                            $('.table_change').append(contentTable);
                            alert('Không có dữ liệu phù hợp');
                        }
                    }
                }
            });

         

        }


       
    }
   
    function formatNumber(nStr, decSeperate, groupSeperate) {
        nStr += '';
        x = nStr.split(decSeperate);
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
        }
        return x1 + x2;
    }
</script>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row" style="margin-bottom: 10px;text-align:center;display:block">
            <span style="font-size:25px">THỐNG KÊ VỀ ĐƠN HÀNG CỦA <span style="color:red;font-weight:bold">CỘNG TÁC VIÊN</span> (KHÔNG THÀNH CÔNG)</span>
            <hr style="width: 30%; border: 0.1px solid #000047;margin:20px auto!important" />
            <input type="hidden" id="hd_date"> 
        </div>
        <div class="row" style="margin-bottom:10px;margin-top:30px">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="@Url.Action("ChietKhauNgay","ChietKhau")" class="" style="padding: 10px 15px;background-color: #9e56e0;border-radius: 10px;color:white;float:right">Xem đơn hàng thành công</a>
                </div>
            </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <input type="radio" name="search_CK" title="Theo ngày" style="margin-right:5px" id="rd_day" class="rd_select" value="day"><label>Xem theo ngày</label>
                @Html.TextBox("Date", DateTime.Now.ToString("yyyy-MM-dd"), new { @disable = "disable", @style = "width: 180px;", type = "date", required = "required", @class = "form-control input-feild", id = "dayPicker" })
                <p id="demo"></p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
                <input type="radio" name="search_CK" style="margin-right:5px" id="rd_month" class="rd_select" value="month"><label>Xem theo tháng</label>
                @Html.TextBox("Month", DateTime.Now.ToString("yyyy-MM"), new { @disable = "disable", @style = "width: 255px;", type = "month", required = "required", @class = "form-control input-feild", id = "monthPicker" })
                <p id="demo"></p>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <input type="radio" name="search_CK" style="margin-right:5px" id="rd_year" class="rd_select" value="year"><label>Xem theo năm</label>
                @Html.TextBox("Year", "", new { @disable = "disable", @style = "width: 180px;", type = "text", required = "required", @class = "form-control input-feild ", id = "yearPicker" })
                <p id="demo"></p>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          
            <div class="col-md-4 col-sm-4 col-xs-4">
                <input type="checkbox" name="search_with_name" title="Chọn cộng tác viên" style="margin-right:5px" id="rd_nv" class="rd_select_nv" value="true">
                <label>Chọn nhân viên</label>
                @Html.DropDownList("dropdownlist_takenhanvien", (IEnumerable<SelectListItem>)ViewBag.NhanVien, new { @id = "dropdownlist_takenhanvien", @style = "display:block;padding: 5px 10px;border-radius: 6px;" })
                <p id="demo"></p>

            </div>
           
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label></label>
                <p class="show-ds" id="show-ck" onclick="show_ck()">Xem danh sách</p>
                <p id="demo"></p>

            </div>
           
        </div>

        <div class="table-responsive">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0" cellpadding="10">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên nhân viên</th>
                        <th>ID nhân viên</th>
                        <th>Số đơn hàng</th>
                        <th>Tổng tiền</th>
                       
                    </tr>
                </thead>
                <tbody class="table_change">
                    @{ int count = 0;}
                    @foreach(var item in Model)
                    {

                        count++;
                        
                        <tr>
                            <td>@count</td>
                            <td>
                                @item.HoTen
                            </td>
                            <td>@item.ID_NHANVIEN</td>
                            <td>
                                <a class="open-dh" onclick="showCT(@item.ID_NHANVIEN)">@item.TongSoDon</a>  
                            </td>
                            <td>
                              @if (item.TongDoanhThu != null) { @String.Format("{0:0,0}", item.TongDoanhThu)}else{@String.Format("{0:0}", 0)} VNĐ
                            </td>
                            
                        </tr>
                        
                    }
                 
                </tbody>
            </table>

        </div>
    </div>
</div>

 <!-- Trigger/Open The Modal -->
<button id="myBtn" hidden="hidden">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content  w3-animate-zoom">
        <div class="modal-header" style="background-color: #4e73df;">

            <h3 style="color: white; margin: auto; text-transform: uppercase;" id="title_name_nv">Chi tiết số đơn của nhân viên </h3>
            <span class="close" id="close_modal" style="margin: 0; padding: 0.5rem 0.5rem;">&times;</span>
        </div>
        <div class="modal-body" style="height: auto;max-height: 500px;padding-bottom: 25px;">
            <p></p>
            <table width="100%" cellpadding="10" cellspacing="0" border="1" class="table-bordered table-ct">
                <thead>
                    <tr>
                        <th>Đơn hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Tùy chọn</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tổng tiền</th>                      
                        <th>Tên CTV</th>
                        <th>ID_CTV</th>
                        <th>Tên KH</th>
                        <th>Lý do</th>
                    </tr>
                </thead>
                <tbody class="table_chitietsodon"></tbody>
            </table>

        </div>

    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    var span = document.getElementById("close_modal");

    btn.onclick = function () {
        modal.style.display = "block";

    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (modal.style.display == "block") {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    }

</script>

<script src="~/Scripts/date.format.js"></script>
<script src="~/Scripts/yearpicker.js"></script>