@model DA_Web.Models.Table_LOAISANPHAM

@{
    ViewBag.Title = "EditLoaiSP_Goc";
    Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}

@*Danh mục con*@
@using (Html.BeginForm("EditLoaiSP_Goc","LoaiSanPham"))
{
    @Html.AntiForgeryToken()
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="form-horizontal">
                <h4>SỬA DANH MỤC GỐC</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="content" style="width:100%;margin:auto">


                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-6 text">
                                @Html.Label("Tên danh mục gốc", new { @class = "control-label col-md-4" })
                                @Html.TextBoxFor(model => model.TenLoaiSanPham)
                                <span class="space col-md-4"></span>@Html.ValidationMessageFor(model => model.TenLoaiSanPham)
                            </div>
                        </div>

                    </div>
                    @*-----------------*@

                    <div class="form-group" style="margin-top:15px">
                        <div class="col-md-offset-2 col-md-10" style="text-align:center;">
                            <input type="submit" value="Thêm mới" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}











@section upload
{
    <script>
        $(function () {

            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/SanPham/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {

                            $('#picture').val(urlImage);
                        },
                        error: function (err) {
                            alert('Có lỗi khi upload ảnh: ' + err.statusText);
                        }
                    });
                }
            });
        });


    </script>
}

@if (ViewBag.MessError != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@Html.Raw(ViewBag.MessError)");
        };
    </script>
}